.custom-div {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .outer-div {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .navbar.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the navbar appears above other content */
}



